{% extends 'base.html' %}

{% block title %}
My Profile
{% endblock title %}

{% block content %}

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
     Update Your Profile
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img src="{{profile.avatar.url}}">
      </div>
      <div class="description">
        <div class="ui header">Provide some additional information about you.</div>
        <form action="" method="POST" class="ui form" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}      
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="ui positive right labeled icon button">
         Update
        <i class="checkmark icon"></i>
      </button>
    </div>
</form>
  </div>

<div class="ui segment">
    {% if confirm %}
        <div class="ui green message">
            <i class="close icon"></i>
            <div class="header">Your profile has been updated</div>
        </div>
    {% endif %}
    <h3>My Profile: {{request.user}}</h3>
    <div class="ui grid">
        <div class="row">
            <div class="six wide column">
                <img class="ui medium rounded image" src={{profile.avatar.url}}>
                <div class="row mt-5">
                    <button class="ui secondary button" id="modal-btn">Update</button>
                </div>
            </div>
            <div class="ten wide column">
                <table class="ui table">
                    <tbody>
                        <tr>
                            <td>Username</td>
                            <td>{{profile.user}}</td>
                        </tr>
                        <tr>
                            <td>First name</td>
                            <td>{{profile.first_name}}</td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>{{profile.last_name}}</td>
                        </tr>
                        <tr>
                            <td>Bio</td>
                            <td>{{profile.bio}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{profile.email}}</td>
                        </tr>
                        <tr>
                            <td>No. of friends</td>
                            <td>{{profile.get_friends_no}}</td>
                        </tr>
                        <tr>
                            <td>No. of posts</td>
                            <td>{{profile.get_post_no}}</td>
                        </tr>
                        <tr>
                            <td>No. of Likes </td>
                            <td>{{profile.get_likes_given_no}}</td>
                        </tr>
                        <tr>
                            <td>No. of Likes Received </td>
                            <td>{{profile.get_likes_recieved_no}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}